<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.AWT.WinForms" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Jdbc" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Media" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Tools" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.Bind" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.Parse" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.Transform" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.WebServices" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.XPath" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Reflection" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime.JNI" version="7.2.4630.5" targetFramework="net48" />
  <package id="log4net" version="2.0.5" targetFramework="net48" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net48" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net48" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net48" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net48" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.0.0" targetFramework="net48" />
  <package id="MongoDB.Driver" version="2.0.0" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net48" />
  <package id="NUnit" version="3.5.0" targetFramework="net48" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net48" />
  <package id="WindwardEngine" version="15.0.152.0" targetFramework="net48" />
</packages>